<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PsycoTest </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar border-bottom box-shadow mb-3">
            <img src="/Resources/feather.png" style="width: 80px; height: 50px" />
            <div class="container">
                @Html.ActionLink("PsycoTest", "Index", "Home", null, new { @style = "color: blue; font-size: 32pt; font-family: 'Times New Roman'; font-weight:600; position: relative; left: -4px;" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Переключить навигацию" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    @Html.Partial("_PartialNavigation")
                </div>
            </div>
            <div>
                @Html.Partial("_PartialLogin")
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-navbar" style="position: absolute; bottom: 0; width: 100%; white-space: nowrap; line-height: 60px;">
        <div class="container">
           &copy; @DateTime.Now.Year - PsycoTest
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
